html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    height: 100%;
}

body {
    background-image: url(../img/back-ufc.jpg);
    font-weight: bold;
    font-style: italic;
}

nav {
    float: right;
    margin-top: 30px;
    margin-right: 50px;
    background-color: rgb(255, 255, 255);
    padding: 14px;
    border: 2px solid black;
    border-radius: 10px;
}

nav a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding: 5px;
}

nav a:hover {
    text-decoration: underline;
    color: gray;
}

header {
    background-color: red;
    height: 120px;
    border: 2px solid black;
    border-radius: 0 20px 0 20px;
}

header img {
    width: 300px;
    margin-left: 30px;
    margin-top: 10px;
}

h1 {
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 30px;
    background-color: rgb(252, 203, 79);
    border-radius: 0 25px 0 25px;
    border: 2px solid black;
    width: 400px;
    padding: 5px;
    margin-left: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}

div#infomessage {
    color: red;
    text-align: center;
    opacity: 0.5;
}

form {
    width: auto; 
    margin: auto;
}

fieldset {
    background-color: white;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 23px;
    margin-bottom: 30px;
    
}

legend {
    background-color: rgb(30, 0, 255);
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    color: white;
    font-size: 30px;
}

label {
    margin-right: 10px;
    margin-left: 50px;
}

input, select {
    border: 1px solid black;
    margin-bottom: 14px;
    margin-right: 14px;
    font-size: 30px;
    margin-left: 50px;

}

select {
    padding: 5px;
    margin-left: 50px;
    font-size: 15px;
    text-align: center;
}

input[type=text]#nome, #rua, #email {
    width:90%;
}

input[type=fone]#fone {
    width: 250px;
}

input[type=button],
input[type=submit] {
    background-color: darkgoldenrod;
    color: black;
    width: auto;
    padding: 8px 8px 8px 8px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px;
    margin: 5px;
}

input[type=button]:hover,
input[type=submit]:hover {
    background-color: rgb(252, 203, 79);
}

table {
    background-color: rgb(255, 255, 255);
    font-size: 12px;
    border: 1px solid black;
    border-spacing: 1px solid;
    border-collapse: separate;
    margin: auto;
}

th{
    background-color: blue;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 20px;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: rgb(183, 169, 92);
}

tr:nth-child(odd) {
    background-color: rgb(240, 222, 119);
}

tr:nth-child(even),
tr:nth-child(odd) {
    text-align: center;
    text-transform: lowercase;
}

td {
    width: 10%;
    font-size: 18px;
}